*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.hero-wrapper {
    background-color: yellow;
    width: 100%;
    height: 100px;
}
.box {
    background-color: blueviolet;
    height: 50vh;
    border: 1px solid black;
}

.cell {
    border: 0.1px solid white;
    margin: 0;
}

.halaman1 {
    background-image: url("/koleksi/background1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image {
    height: 300px;
    width: auto;
}

.font {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
}